nav a {
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 15px;
    margin-left: 30px;
    border: 1px solid #568259;
    margin-top: 10px;

}

nav a:hover {
    background-color: #568259;
    color: mintcream;
}

fieldset{
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  width :400px;
  height: 700px;
  border-radius: 20px;
  margin-left: 925px;
  margin-top :  200px;
}

.login-button{


  text-align: center;
    text-decoration: none;
    padding: 10px 250px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    margin-left: 3px;
    border: 1px solid #568259;
    background-color: #568259 ; color: mintcream;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mintcream;
}

.fieldset-ForgetPassword{
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  width :400px;
  height: 450px;
  border-radius: 20px;
  margin-left: 935px;
  margin-top :  200px;
}
